<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="jumbotron" align="center" style="margin-top: 50px;">
            <h1>Bem Vindo</h1>
            <div align="center">
                <a href="lista-pessoas" class="btn btn-lg btn-primary">Clique aqui para ver as pessoas</a>
            </div>

            <div align="center">
                <a href="cadastra-pessoa" class="btn btn-lg btn-success">Clique aqui para cadastrar uma pessoa</a>
            </div>

        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="./bootstrap/js/bootstrap.min.js"></script>
</body>
</html>